
{% extends 'base.html' %}

{% block body %}
<main>
    <h2>Edit User Information</h2>
    <form method="POST">
        {{ info_form.hidden_tag() }}
        {{ info_form.first_name.label }} {{ info_form.last_name(placeholder=user.first_name) }}
        {{ info_form.last_name.label }} {{ info_form.last_name(placeholder=user.last_name) }}
        {{ info_form.bio.label }} {{ info_form.bio(placeholder=user.bio) }}
        {{ info_form.location.label }} {{ info_form.location(placeholder=user.location) }}
        {{ info_form.submit() }}
    </form>
    <hr>
    <h2>Edit Email</h2>
    <form method="POST">
        {{ email_form.hidden_tag() }}
        {{ email_form.email.label }} {{ email_form.email(placeholder=user.email) }}
        {{ email_form.submit() }}
    </form>
    <hr>
    <h2>Change Password</h2>
    <form method="POST">
        {{ password_form.hidden_tag() }}
        {{ password_form.old_password.label }} {{ password_form.old_password() }}
        {{ password_form.new_password.label }} {{ password_form.new_password() }}
        {{ password_form.new_password2.label }} {{ password_form.new_password2() }}

        {{ password_form.submit() }}
    </form>
</main>

{% endblock %}