/* basic layout */
body {
    width: 90%;
    max-width: 1200px;
    padding: 2.5%;
    background-color: $background-color;
    margin: 0 auto 0 auto;
  }
  
  /* grid area settings */
  header {grid-area: banner;}
  nav {grid-area: navbar;}
  main {grid-area: main;}
  aside {grid-area: sidebar;}
  footer {grid-area: footer;}
  #react-root {
    grid-row: 3;
    grid-column: 1/3;
  }