main {
  height: auto;
  margin-right: 20px;
  min-height: 55vh;

  .video {
    position: relative;
    padding-bottom: 56.25%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;  object-fit: fill;
  }
  
  .details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
  .item-link {
    color: $accent-contrast-dark;
    h2 {
      color: $accent-contrast-dark;
    }
  }

  // this holds blog_index and resource entries
  .item-box {
    margin-bottom: 20px;
    // border: solid 1px $primary-color;
    padding: 20px;
  }
  
}

