// colors
$background-color: rgb(9, 9, 56);
$foreground-color: rgb(201, 196, 219);
$accent-color: rgb(224, 224, 70);

// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Work+Sans:wght@300&display=swap');
$header-font: 'Work Sans', sans-serif;
$body-font: 'Noto Sans', sans-serif;