{% extends 'base.html' %}

{% block body %}
  <main>
    <h3>Here I am. I walk to you. Will you meet me?</h3>
    <p>Healing dialogue is a way to see, to know, myself and the other. It explores resources, unearths possibilities, builds trust,
      repairs injuries, releases guilt, creates a legacy between persons. In dialogue, a voice is found, a voice is heard, a person is formed. 
      Learn, be inspirited, carve new relational pathways, live with vitality.</p>
    <div class="box-wrapper">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </main>
{% endblock %}
