<nav>
    <ul class="navbar-list folded" id="menu">
      <li class="hamburger-holder">
        <button class="hamburger-button" id="toggle-menu">
          <img class="hamburger" src="{{ url_for('static', filename='images/icons/menu-bar.svg') }}">
        </button>
      </li>
      
      <li {% if page == 'home' %}class="active"{% endif %}>
        <a href="{{ url_for('main.index') }}">Home</a>
      </li>

      <li {% if page == 'videos' %}class="active"{% endif %}>
        <a href="{{ url_for('main.videos') }}">Videos</a>
      </li>

      <li {% if page == '' %}class="active"{% endif %}>          
        <a href="{{ url_for('main.visual_thesaurus') }}">Thesaurus</a>
      </li>

      <li {% if page == 'blog' %}class="active"{% endif %}>
        <a href="{{ url_for('main.blog', post_id=0)  }}">Blog</a>
      </li>

      <li {% if page == 'resources' %}class="active"{% endif %}>          
        <a href="{{ url_for('main.resources') }}">Resources</a>
      </li>

      <li {% if page == 'about' %}class="active"{% endif %}>
        <a href="{{ url_for('main.about') }}">About</a>
      </li>

      <li {% if page == 'contact' %}class="active"{% endif %}>          
        <a href="{{ url_for('main.contact') }}">Contact </a>
      </li>
      
    </ul>
  </nav>
