<aside>
    <blockquote cite="">
      <span class="quotation">
        The mystics would say whenever you stand apart and objectify anything you stop knowing it. You have to love, respect, and enter into relationship with what you desire to know. Then the mirroring goes back and forth, subject to subject, center to center, 
        love to love. Then the loving becomes its own kind of knowing. This is knowing by participation. 
      </span><br>
      - <span class="quote-author">
        R.Rohr 2/26/2017 meditations email
      </span>
    </blockquote>
</aside>