<aside>
  <div class="quote-box">
    <blockquote cite="">
      <span class="quotation">
        The mystics would say whenever you stand apart and objectify anything you stop knowing it. You have to love, respect, and enter into relationship with what you desire to know. Then the mirroring goes back and forth, subject to subject, center to center, 
        love to love. Then the loving becomes its own kind of knowing. This is knowing by participation. 
      </span><br>
      - <span class="quote-author">
        R.Rohr
      </span>
    </blockquote>
    
  </div>
  <hr>
  <section class="newsletter-box">
    <form method="POST" action="https://comcast.us17.list-manage.com/subscribe/post" target="_blank" id="newsletter-form">
      <p>Join the newsletter</p>
      <input type="hidden" name="u" value="82a0de2c2c9e366ab68236035">
      <input type="hidden" name="id" value="4fca6d60b9">
      
      <label for="MERGE0"><p>Email:</p></label>
      <input type="email" name="MERGE0" id="MERGE0" required>
      

      <label for="MERGE1"><p>First Name</p></label>
      <input type="text" name="MERGE1" id="MERGE1" required>
      

      <label for="MERGE2"><p>Last Name</p></label>
      <input type="text" name="MERGE2" id="MERGE2" required>
      
      <input type="submit" name="submit" value="Subscribe">
      
      <input type="hidden" name="ht" value="a53d91462f8d15424dfd48f8ded1b8ea2955d9c1:MTYxMDcxMDk0OC4yMzE=">
      <input type="hidden" name="mc_signupsource" value="hosted">
    </form>
  </section>
</aside>


<!--


    <section class="newsletter-box">
    <form method="POST" action="" id="contact-form">
      <input type="hidden" name="u" value="">
      <input type="hidden" name="id" value="">
      <label for="MERGE0">Email:</label>
        <input type="email" name="MERGE0" required>
      <label for="MERGE1">First Name</label>
        <input type="text" name="MERGE1" required>
      <label for="MERGE2">Last Name</label>
        <input type="text" name="MERGE2" required>
        <input type="submit" name="submit" value="Subscribe">
      <input type="hidden" name="ht" value="">
      <input type="hidden" name="mc_signupsource" value="hosted">
    </form>
  </section>

-->